
<div id="header" class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 id="headerText" class="display-4">Food Truck Forager</h1>
    <h4>Find the streets with mobile eats</h4>
  </div>
</div>