
<div id="header" class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 id="headerText" class="display-4 animated bounceInLeft">Food Truck Forager</h1>
    <p class="animated bounceInRight">Find the streets with mobile eats!</p>
  </div>
</div>