 <nav class="nav flex-column">
        <br>
        <br>
        <br>

        <a class="nav-link a " href="index">Home</a>
        <br>
        <a class="nav-link a " href="search">Search</a>
        <br>
        <a class="nav-link a " href="review">Your Account</a>
        <br>
        <a class="nav-link a " href="index">Log Out</a>

      </nav>