<div class="container">
    {{!-- {{#each foodtrucks}}
    <p>{{this.name}}</p>
    {{/each}} --}}
    <table class="table-striped truckContainer">
        {{!-- <thead>
            <tr>
                <th scope='col'>Foodtruck Name</th>
                <th scope='col'>Menu</th>
                <th scope='col'>Price</th>
            </tr>
        </thead>
        <tbody class='truckRows'></tbody> --}}
    </table>
</div>
<div class="foodTruckList"></div>