
{{>header}}
{{!-- main content --}}
<div class="container">
  <div class="row">
    <div class="col-sm-2" id="nav">
      {{!-- Side Navbar --}}
{{>navbar}}
     
    </div>

    {{!-- Box to hold image of food truck and search-by-food dropdown menu (and add style)--}}
    <div class="col-sm-10" id="topRated">
    <p id="forage">Forage</p>
<div id="splash">

</div>
     
    </div>


  </div>
</div>






<script> 


</script>





