#header{
  background-color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 0px;
  /* font-family: 'Bungee Hairline', cursive; */
  font-family: 'Cabin Sketch', cursive;
  /* font-family: 'Jacques Francois Shadow', cursive; */
  
  border: 8px;
  /* border-style: solid;
  border-color: black; */
}


#headerText{
  font-size: 100px;
  color: rgb(37, 85, 64);
}

.a{
  font-family: 'Cutive Mono', monospace;
  color: black;
}

/* .dropdown{
  z-index: 1;
  position: absolute;
  bottom: 1000;
  right:1000; */
  /* left:0; */
 
/* } */

#dropdownMenuButton{
 background-color: black;
 color: white;
 font-family: 'Cutive Mono', monospace;
 z-index: 1;
 position: absolute;
 bottom: 1000;
 right:1000;
}

#searchDivBackground{
  background-image: url("https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/1311676/580/386/m2/fpnw/wm0/truck-.jpg?1464292222&s=4c30328958b6d1a18450a4f5cbf8f19e");

  background-size: 800px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
  /* object-fit: fill; */
/* background-color: aquamarine; */
  /* background-attachment: fixed; */
  height: 500px;
  width: 400px;
  text-align: center;
  padding-left: 0;
  border: 50px;
  border-style: solid;
  border-color: rgb(37, 85, 64);
}

#topRated{
  z-index: 0;
  /* object-fit: fill; */
background-color: rgb(37, 85, 64);
  /* background-attachment: fixed; */
  height: 500px;
  width: 400px;
  text-align: center;
  padding-left: 0;
  border: 50px;
  border-style: solid;
  border-color: rgb(37, 85, 64);
  padding-bottom: 535px;
}

#nav{
background-color: black;
color: white !important;
}
.nav-link{
  color: white !important;
}

#forage{
  color: rgb(33, 65, 51);
  font-family: 'Bungee Outline', cursive !important;
  font-size: 160px

}



/* Map styling */
#mapid {
  height: 500px;
  width: 1100px;
}

#container{
 font-family: 'Cutive Mono', monospace;
}

.label{
  color: white;
}

/* font-family: 'Monoton', cursive;
font-family: 'Cabin Sketch', cursive;
font-family: 'Fredericka the Great', cursive;
font-family: 'Nixie One', cursive;
font-family: 'Bungee Inline', cursive;
font-family: 'Faster One', cursive;
font-family: 'Raleway Dots', cursive;
font-family: 'Cutive Mono', monospace;
font-family: 'Megrim', cursive;
font-family: 'Vast Shadow', cursive;
font-family: 'Codystar', cursive;
font-family: 'Bungee Shade', cursive;
font-family: 'Rubik Mono One', sans-serif;
font-family: 'League Script', cursive;
font-family: 'Monofett', cursive;
font-family: 'Diplomata SC', cursive;
font-family: 'Zilla Slab Highlight', cursive;
font-family: 'Jacques Francois Shadow', cursive;
font-family: 'Bungee Outline', cursive;
font-family: 'Bungee Hairline', cursive; */